<form method="POST" action="/recipes/<%= @recipe.id %>">
<h1><input name="name" type="text" value="<%= @recipe.name %>"></h1>
<h2><input name="ingredients" type="text" value="<%= @recipe.ingredients %>"></h2>
<h2><input name="cook_time" type="text" value="<%= @recipe.cook_time %>"></h2>
<input type="submit" value="Submit Edit">
</form>
