<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recipes</title>
  </head>
  <body>
    <%= yield %>
    <h1><a href="/recipes">Click here to go to the homepage!</h1>
  </body>
</html>
