<!DOCTYPE html>
<html>
<head>
  <title>Edit A Recipe</title>
</head>
<body align="center">
  <h1>Edit Your Recipe</h1>
  <form method=post action="/recipes/<%= @recipe.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <h3><input type="text" name="name" value="<%= @recipe.name %>"></h3>
    <h3><input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></h3>
    <h3><input type="text" name="cook_time" value="<%= @recipe.cook_time %>"></h3>

    <input type="submit" id="submit" value="Edit Recipe!">
  </form>
</body>
</html>
