<h1>Recipes</h1>
<% @recipes.each do |recipe|%>
  <a href="/recipes/<%=recipe.id%>"><h3><%= recipe.name %></h3></a>
  <p><strong>Ingredients:</strong> <%= recipe.ingredients %></p>
  <p><strong>Cook Time:</strong> <%= recipe.cook_time %></p>
<% end %>
<br>
<h3>Create a <a href="/recipes/new">New Recipe</a></h3>
