<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RECIPES Exercise</title>
  </head>
  <body>
    <h1>RECIPES Exercise for RESTful architecture</h1>
    <%= yield %>
  </body>
</html>
