<h1>Add a new recipe</h1>
<form  action="/recipes" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" value="">
  <br><br>
  <label for="ingredients">Ingredients: </label>
  <br>
  <input type="text "name="ingredients" value="">
  <br>
  <label for="cook_time">Cook Time: </label>
  <br>
  <input type="text "name="cook_time" value="">
  <br>
  <input id="submit" type="submit" name="submit" value="Add">
</form>
<button onclick="window.location.href = '/recipes';">Index</button>
