<h3> Make your recipe </h3>
<form action="/recipes" method="post">
  <p>Name: </p>
  <input name="name" type="text"><br>
  <p>Ingredients: </p>
  <input name="ingredients" type="text"><br>
  <p>Cook Time: </p>
  <input name="cook_time" type="text"><br>
  <p>Submit</p>
  <input type="submit" id="submit" name="submit">
</form>
    
