<!DOCTYPE html>
<html>
<head>
  <title>Create A Recipe</title>
</head>
<body align="center">
  <h1>Create Your Recipe</h1>
  <form method=post action='/recipes'>
    <h3><input type="text" name="name" placeholder="Name:"></h3>
    <h3><input type="text" name="ingredients" placeholder="Ingredients:"></h3>
    <h3><input type="text" name="cook_time" placeholder="Cook time:"></h3>

    <input type="submit" id="submit" value="Create Recipe!">
  </form>
</body>
</html>
