<form method='post' action="/recipes">
  Name:<input type="text" name="name"></name>
  <br>
  Ingredients:<input type="text" name="ingredients"></input>
  <br>
  Cook Time:<input type="text" name="cook_time"></input>
  <br>
  <input type="submit" id="submit" name="submit"></input>
</form>
