<form action="/recipes" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Ingredients: <input type="text" name="content"></p>
  <p>Cook Time: <input type="text" name="content"></p>
  <p><input type="submit" id="submit"></p>
</form>
