<h2>New Recipe</h2>
<form method="post" action="/recipes">
  <h3>NAME</h3>
  <input type="text" name="name">
  <h3>INGREDIENTS</h3>
  <input type="text" name="ingredients">
  <h3>COOKTIME</h3>
  <input type="text" name="cooktime">
  <br><br>
  <button type="submit" value="submit">Submit</button>
</form>
