<h1>Add New Recipes Here</h1>
<form action="/recipes" method="POST">
<label>Name: <input type="text" name="name" /></label><br><br>
<label>Ingredients (separated by commas): <input type="text" name="ingredients" /></label><br><br>
<label>Cook Time: <input type="text" name="cook_time" /></label><br>
<p><input type="submit" name="Add Recipe" /></p>

</form>
