<h1><%= @recipe.name %></h1>
<p><strong>Ingredients:</strong> <%= @recipe.ingredients %></p>
<p><strong>Cook Time:</strong> <%= @recipe.cook_time %></p>
<br>
<h3>See <a href="/recipes">All Recipes</a></h3>
